<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.login.mapper.BoardMapper">

	<!-- 게시글 전체 검색 -->
	<select id="findAllBoards" resultType="board">
		select * from boardv2
	</select>

	<!-- 게시글 등록 -->
	<insert id="writeBoard">
		<selectKey keyProperty="board_id" resultType="long"
			order="BEFORE">
			select seq_board.nextval from dual
		</selectKey>
		insert into boardv2 (
		board_id,
		title,
		content,
		id
		) values (
		#{board_id},
		#{title},
		#{content},
		#{id}
		)
	</insert>
	<select id="readForm" resultType="board">
		select * from boardv2 where
		board_id = #{board_id}
	</select>
</mapper>